<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->



<!-- 左上角内容 -->


<figure><table>
<thead>
<tr><th><a href='#-1'>Education</a></th><th><a href='#-1'>Education</a></th><th><a href='#-1'>Education</a></th><th><a href='#-1'>Education</a></th><th><a href='https://wang-zhiping.github.io/#Education'>Education</a></th></tr></thead>
<tbody></tbody>
</table></figure>
<p>&nbsp;</p>



<!-- end custom head snippets -->
