<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->



<!-- 左上角内容 -->

弟子規　聖人訓　
首孝弟　次謹信
汎愛眾　而親仁　
有餘力　則學文

父母呼　應勿緩　
父母命　行勿懶
父母教　須敬聽　
父母責　須順承
冬則溫　夏則凊　
晨則省　昏則定
出必告　反必面　
居有常　業無變
事雖小　勿擅為　
苟擅為　子道虧
物雖小　勿私藏　
苟私藏　親心傷
親所好　力為具　
親所惡　謹為去
身有傷　貽親憂　
德有傷　貽親羞
親愛我　孝何難　
親憎我　孝方賢
親有過　諫使更　
怡吾色　柔吾聲
諫不入　悅復諫　
號泣隨　撻無怨
親有疾　藥先嘗　
晝夜侍　不離床
喪三年　常悲咽　
居處變　酒肉絕
喪盡禮　祭盡誠　
事死者　如事生


<!-- end custom head snippets -->
