.wrapper {
  max-width: 1200px !important;
  margin: 0 auto;
}

.main {
  max-width: 960px !important;
  width: 90% !important;
}

.fixed-width-1 {
  width: 160px !important;
  white-space: nowrap !important;
  vertical-align: top !important;
}

.fixed-width-2,
td:not(.fixed-width-1) {
  width: auto !important;
  vertical-align: top !important;
  word-break: normal;
}
