---
---

@import "jekyll-theme-minimal";

.pub-label {
   display: inline-block;
   padding: 1px 8px;
   margin-left: 6px;
   font-size: 0.75rem;
   font-weight: 600;
   border-radius: 12px;
   text-transform: uppercase;
   letter-spacing: 0.5px;
   border: 1px solid;
   vertical-align: middle;
}

.color-1  { background-color: rgb(238, 103, 72);  color: white; border-color: rgb(200, 70, 45); }
.color-2  { background-color: rgb(250, 159, 80);  color: black; border-color: rgb(210, 120, 50); }
.color-3  { background-color: rgb(255, 216, 94);  color: black; border-color: rgb(220, 180, 60); }
.color-4  { background-color: rgb(203, 224, 100); color: black; border-color: rgb(170, 190, 70); }
.color-5  { background-color: rgb(151, 231, 104); color: black; border-color: rgb(120, 190, 80); }
.color-6  { background-color: rgb(117, 235, 134); color: black; border-color: rgb(85, 195, 105); }
.color-7  { background-color: rgb(82, 238, 163);  color: black; border-color: rgb(55, 195, 130); }
.color-8  { background-color: rgb(81, 225, 233);  color: black; border-color: rgb(55, 185, 195); }
.color-9  { background-color: rgb(74, 216, 234);  color: black; border-color: rgb(50, 175, 195); }
.color-10 { background-color: rgb(67, 207, 234);  color: black; border-color: rgb(45, 165, 195); }
.color-11 { background-color: rgb(84, 182, 248);  color: white; border-color: rgb(55, 145, 210); }
.color-12 { background-color: rgb(67, 124, 243);  color: white; border-color: rgb(40, 95, 205); }
.color-13 { background-color: rgb(111, 81, 244);  color: white; border-color: rgb(85, 55, 205); }
.color-14 { background-color: rgb(148, 70, 248);  color: white; border-color: rgb(115, 45, 210); }
.color-15 { background-color: rgb(174, 76, 243);  color: white; border-color: rgb(140, 50, 205); }
.color-16 { background-color: rgb(201, 82, 237);  color: white; border-color: rgb(165, 55, 200); }
.color-17 { background-color: rgb(229, 79, 155);  color: white; border-color: rgb(190, 55, 125); }
.color-18 { background-color: rgb(227, 54, 94);   color: white; border-color: rgb(190, 35, 75); }
.color-19 { background-color: rgb(226, 44, 60);   color: white; border-color: rgb(185, 25, 45); }
.color-20 { background-color: rgb(210, 50, 50);   color: white; border-color: rgb(170, 30, 30); }
